.md-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;    
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
    background: rgba(143,143,143,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-show.info ~.md-overlay{
    background: rgba(137, 175, 143, 0.8);
}
.md-show.error ~.md-overlay{
    background: rgba(155, 85, 85, 0.8);
}
.md-show.warn ~.md-overlay{
    background: rgba(243, 227, 165, 0.8);
}

.md-content {
	color: black;
	background: white;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.md-content header {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}
.md-modal.info .md-content header{
    background-color: rgb(59, 77, 63);
    color: white;
}
.md-modal.error .md-content header{
    background-color: rgb(114, 3, 3);
    color: white;
}
.md-modal.warn .md-content header{
    background-color: rgb(255, 133, 0);
    color: white;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

/*
.md-content button {
	display: inline-block;
	margin: 0 auto;
	font-size: 0.8em;
}
*/

.md-effect-1 .md-content {
/*
	-webkit-transform: translate(0, -30);
	-moz-transform: translate(0, -30);
	-ms-transform: translate(0, -30);
	transform: translate(0, -30);
*/
	opacity: 0;
/*
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
*/
}

.md-show.md-effect-1 .md-content {
/*
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
*/
	opacity: 1;
}