<div class="row" ng-hide="form_data.success">
  <div class="form-group col-md-6">
    <label for="firstname">First Name:</label>
    <input ng-model="form_data.firstname" type="text" class="form-control" id="firstname">
  </div>
  <div class="form-group col-md-6">
    <label for="lastname">Last Name:</label>
    <input ng-model="form_data.lastname" type="text" class="form-control" id="lastname">
  </div>
  <div class="form-group col-md-12">
    <label for="email">Email:</label>
    <input ng-model="form_data.email" type="email" class="form-control" id="email">
  </div>
  <div class="form-group col-md-6">
    <label for="username">Username:</label>
    <input ng-model="form_data.username" type="text" class="form-control" id="username">
  </div>
  <div class="form-group col-md-6">
    <label for="password">Password:</label>
    <input ng-model="form_data.password" type="password" class="form-control" id="password">
  </div>
  <div class="form-group col-md-6">
    <label>Role:</label>
    <select ui-select2 ng-model="form_data.role_id" data-placeholder="Pick a role" style="width: 100%">
      <option value=""></option>
      <% roles.each do |role| %>
        <option value="<%= role.id %>"><%= role.name %></option>
      <% end %>
    </select>
  </div>
</div>

