<h1 class="md-mt-20">
  <%= t @page_heading %>
  <a class="btn btn-default pull-right" href="#" target="_self" ng-click="vm.addUserModal()">New</a>
</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <table datatable="" dt-instance="vm.dtInstance" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-column-defs="vm.dtColumnDefs" class="row-border hover"></table>
  </div>
</div>