<div class="row" ng-hide="form_data.success">
  <div class="form-group col-md-6">
    <label>User:</label>
    <select ui-select2 ng-model="form_data.user_id" data-placeholder="Pick a user" style="width: 100%">
      <option value=""></option>
      <% users.each do |user| %>
        <option value="<%= user.id %>"><%= user.fullname %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label>Product:</label>
    <select ui-select2 ng-model="form_data.product_id" data-placeholder="Pick a product" style="width: 100%">
      <option value=""></option>
      <% products.each do |product| %>
        <option value="<%= product.id %>"><%= product.name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="lastname">Order Status:</label>
    <select ui-select2 ng-model="form_data.orderstatus_id" data-placeholder="Pick an order status" style="width: 100%">
      <option value=""></option>
      <% orderstatuses.each do |status| %>
        <option value="<%= status[:id] %>"><%= status[:name] %></option>
      <% end %>
    </select>
  </div>
</div>
