<h1 class="md-mt-20">
  <%= t @page_heading %>
</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <table datatable="" dt-instance="vm.dtInstance" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover"></table>
  </div>
</div>