<div class="row" ng-hide="form_data.success">
  <div class="form-group col-md-6">
    <label for="firstname">Product Name:</label>
    <input ng-model="form_data.name" disabled type="text" class="form-control" id="firstname">
  </div>
  <div class="form-group col-md-12">
    <label for="firstname">Product Description:</label>
    <input ng-model="form_data.description" disabled type="text" class="form-control" id="firstname">
  </div>
</div>
