<!DOCTYPE html>
<html>
<head>
  <title>OrderingBackend</title>
  <%= stylesheet_link_tag    'administration', media: 'all' %>
	<%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %> ng-cloak">

<div class="container">
	
	<!-- Static navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><%= t 'project_name' %></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/users">Users</a></li>
          <li><a href="#/products">Products</a></li>
					<li><a href="#/orders">Orders</a></li>
          <li><a href="#/audits">Audit Trail</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>

	<ng-view></ng-view>
  
  <div data-modal class="md-modal md-effect-1" data-modal-id="md-effect-1">    
    <div class="md-content">
      <header>
        <i data-ng-show="model.iconClass" data-ng-class="model.iconClass"></i>
        {{ model.title }}
      </header>
      <div class="md-p-15">
        <div class="alert alert-danger" ng-show="form_data.errors">
          <strong>Errors!</strong>
          <p ng-bind-html="form_data.errors"></p>
        </div>
        <ng-include src="model.modalUrl"></ng-include>
      </div>
      <div class="row text-center" ng-show="form_data.success">
        <strong>Success!</strong>
        <p ng-bind-html="form_data.success"></p>
      </div>
      <div class="row" ng-hide="form_data.success">
        <div class="col-md-6 text-left">
          <button class="btn btn-default pull-left" ng-if="showClose" ng-click="close()">Close</button>
        </div>
        <div class="col-md-6 text-right">
          <button ng-repeat="_btn in model.buttons" class="btn {{ _btn.btnClass }} pull-right" ng-click="_btn.action(form_data)">{{ _btn.text }}</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="md-overlay"></div>

</div> <!-- /container -->

<%= javascript_include_tag 'administration' %>
  
</body>
</html>


